elpa/
backups/
straight/
emojis/
eln-cache/
auto-save-list/
.cache/
games/
transient/
tree-sitter/

projects
recentf
smex-items
tramp
org-roam.db
.lsp-session-v*
.dap-breakpoints
/.org-id-locations
/bookmarks
/eshell/
